@if (productDetails) {

<section>
  <owl-carousel-o class="w-[20%]" [options]="mainSlider">
    @for (image of imageList; track $index) {

    <ng-template carouselSlide class=""><img [src]="image" class="object-contain h-[300px]"
        alt="productDetails"></ng-template>
    }
  </owl-carousel-o>


  <div class="product-info border bg-secBackground border-gray-100 rounded p-5 w-[80%] mx-auto my-5 text-center">
    <h2 class="md:text-[17px] p-2 text-mainColor bg-green-200 mx-auto w-fit">{{productDetails.title}}</h2>
    <p class="text-gray-500 py-3 ">{{productDetails.description}}</p>
    <div class="flex items-center justify-between  py-4 md:px-3 md:w-[50%] mx-auto md:py-3">
      <span class="text-[20px]  md:text-[14px] font-normal text-gray-900 dark:text-white">{{productDetails.price}}
        EPG</span>
      <div>
        <span class="text-yellow-500 pe-2"><i class="fa fa-solid fa-star"></i></span>
        <span class="font-light text-[20px] md:text-[16px]  text-gray-600">{{productDetails.ratingsAverage}}</span>
      </div>
    </div>
    <button class="main-btn w-full md:w-[50%] text-nowrap text-[16px]  md:text-[12px] mx-auto block">Add To
      Cart</button>
  </div>




</section>



}