<section class="w-[90%] md:w-full mx-auto grid grid-cols-1 sm:grid-cols-[70%_minmax(0,1fr)] py-5">


  <div class="main-slider sm:w-full">
    <owl-carousel-o [options]="mainSlider" class="sm:w-full">
      <ng-template carouselSlide class="sm:w-full">
        <img src="/images/slider-image-2.jpeg" class="w-full md:object-cover  block h-[300px] sm:w-full " alt="">
      </ng-template>

      <ng-template carouselSlide class="sm:w-full">
        <img src="/images/slider-image-3.jpeg" class="w-full md:object-cover  block h-[300px] sm:w-full" alt="">
      </ng-template>
    </owl-carousel-o>
  </div>

  <div class="w-full">
    <img src="/images/grocery-banner.png" class="w-full h-[150px]" alt="">

    <img src="/images/grocery-banner-2.jpeg" class="w-full h-[150px]" alt="">
  </div>


</section>


<section class="w-[90%] md:w-full mx-auto categories">

  <h2 class="text-gray-700 text-center md:text-start md:text-3xl font-semibold py-3 dark:text-gray-300">Shop Popular
    Categories</h2>

  <owl-carousel-o [options]="categoriesSlider">

    @for (category of categoriesList; track $index) {
    <ng-template carouselSlide>
      <div [routerLink]="['/details', category._id]">
        <img [src]="category.image" [alt]="category.slug" class="h-[250px] object-contain md:object-cover  w-full">
        <h3 class="text-center py-2 dark:text-green-300">{{category.name}}</h3>
      </div>

    </ng-template>
    }

  </owl-carousel-o>

</section>


<div class="search-input my-8 md:w-1/2 md:mx-auto">

  <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
  <div class="relative ">
    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
        fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
      </svg>
    </div>
    <input [(ngModel)]="text" type="search" id="default-search"
      class="block w-full   p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-green-500 focus:border-green-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
      placeholder="Search Here" />
    <button type="submit"
      class="text-white absolute end-2.5 bottom-2.5 bg-mainColor hover:bg-hoverBg focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Search</button>
  </div>

</div>


<section
  class="w-[90%] md:w-full mx-auto popular-products grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-8">

  @for (product of productsList.slice(25,40) | search:text; track product._id) {

  <app-card [productElement]="product"></app-card>

  }

</section>