<section class="bg-gray-100 py-6">
  <div class="container p-2">

    <h3 class="text-[20px] font-semibold mb-3">Get the FreshCart app</h3>
    <p class="text-[12px] text-gray-500 font-light">We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <div class="input-info flex  my-5">
      <div class="relative w-full flex-grow  me-4">
        <input type="email"
          class="bg-white border w-full  border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-mainColor focus:border-mainColor block    dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-green-500 dark:focus:border-green-500"
          placeholder="Email..." />
      </div>
      <button type="submit"
        class="inline-flex items-center text-nowrap text-[10px] bg-mainColor py-[1px] text-white px-2 rounded md:text-[14px] md:px-5 hover:bg-hoverBg transition">
        Share App Link
      </button>
    </div>

    <hr>
    <div class="grid grid-cols-2 gap-x-4 py-3 md:flex md:items-center md:justify-between ">
      <div class="paymaents grid grid-cols-1 items-center gap-y-2 text-center  md:flex md:items-center">
        <p class="text-[12px]  text-nowrap">payments partner</p>
        <img src="/images/amazon-pay.png" class="block mx-auto w-14 md:w-12 md:mx-3" alt="">
        <img src="/images/American-Express-Color.png" class=" block mx-auto w-14 md:w-12 md:mx-3" alt="">
        <img src="/images/mastercard.webp" class="block mx-auto w-14 md:w-12 md:mx-3" alt="">
        <img src="/images/paypal.png" class="block mx-auto w-14 md:w-12 md:mx-3" alt="">
      </div>

      <div class="grid grid-cols-1 items-center gap-y-2  text-center md:flex md:items-center">

        <p class="text-[12px]  text-nowrap">Get Deliveries with FreshCart</p>
        <img src="images/get-apple-store.png" class="block w-24 mx-auto md:w-20 md:mx-2 " alt="">
        <img src="images/get-google-play.png" class="block w-24 mx-auto md:w-20  " alt="">

      </div>
    </div>

    <hr>


  </div>

</section>
