<div
  class=" card relative overflow-hidden w-full border border-gray-300  hover:scale-105 hover:border-gray-400 hover:shadow-2xl transition-all duration-300   bg-white   rounded-lg shadow-lg dark:border-gray-600  ">
  <div [routerLink]="['/details', productElement()?._id]" class="cursor-pointer">
    <a>
      <img class=" rounded-t-lg h-[250px] object-contain    w-full" [src]="productElement()?.imageCover"
        alt="product image" />
    </a>
    <div class=" py-2 dark:bg-gray-800">
      <a>
        <h5
          class="text-[18px] py-3 md:text-[12px] bg-green-100 w-[70%] mx-auto text-center  text-mainColor  font-semibold tracking-tight  dark:text-blue-600 dark:bg-blue-100">
          {{productElement()?.category?.name}}
        </h5>
      </a>
      <div class="flex items-center dark:bg-gray-800">

        <span
          class=" text-[18px] md:text-[14px] text-nowrap text-center mx-auto font-semibold py-3 md:py-0.5 rounded-sm dark:text-blue-300">{{productElement()?.title?.split("
          ",2)?.join(" ")}}</span>
      </div>
      <div class="flex items-center justify-between px-11 py-4 md:px-3 md:py-3">
        <span
          class="text-[20px]  md:text-[14px] font-normal text-gray-900 dark:text-blue-400">{{productElement()?.price}}
          EPG</span>
        <div>
          <span class="text-yellow-500 pe-2"><i class="fa fa-solid fa-star"></i></span>
          <span
            class="font-light text-[20px] md:text-[16px]  text-gray-600 dark:text-blue-400">{{productElement()?.ratingsAverage}}</span>
        </div>
      </div>
    </div>

  </div>
  <div class="dark:bg-gray-800">
    <button (click)="addToCart(productElement()?._id!)"
      class="main-btn w-[80%]  text-[20px]   md:text-[12px] mx-auto block dark:bg-blue-500 hover:dark:bg-blue-700">Add
      To Cart</button>
  </div>
  <span role="button" (click)="addToWishlist(productElement()?._id!)"
    class="absolute top-[10px] left-[10px] md:text-2xl text-mainColor">
    <i [class]="{
        'fas': chekHeart,
        'fa-regular': !chekHeart,
        'fa-heart': true
      }">
    </i>
  </span>
</div>
